# DataSUS Vaccines Pipeline Cleansing

In [1]:
import pandas as pd
from os import listdir

In [2]:
datasets = sorted([x for x in listdir('./datasets')])
datasets

['cv_ano_imuno.csv',
 'cv_uf_2015.csv',
 'cv_uf_2016.csv',
 'cv_uf_2017.csv',
 'cv_uf_2018.csv',
 'cv_uf_2019.csv']

In [3]:
def filter_df(data, iterator, year=None):
    df = data[iterator]
    df.columns = df.iloc[0]
    df = df.iloc[1:]
    df = df.reset_index()
    df = df.rename(columns={"index":"Estado"})
    if year is not None:
        df['Ano'] = year

    return df

In [4]:
filepath = './datasets/'

df = [pd.read_csv(filepath + dataset, encoding='utf8', sep=';', decimal=',') for dataset in datasets]

df_t = [x.transpose() for x in df]

imuno = filter_df(df_t, 0)
imuno = imuno.rename(columns={"Estado": "Ano"})
df_2015 = filter_df(df_t, 1, 2015)
df_2016 = filter_df(df_t, 2, 2016)
df_2017 = filter_df(df_t, 3, 2017)
df_2018 = filter_df(df_t, 4, 2018)
df_2019 = filter_df(df_t, 5, 2019)

In [5]:
df_2015.head(2)

Imuno,Estado,BCG,Hepatite B em crianças até 30 dias,Rotavírus Humano,Meningococo C,Hepatite B,Penta,Pneumocócica,Poliomielite,Febre Amarela,...,Tríplice Viral D2,Tetra Viral(SRC+VZ),DTP,Tríplice Bacteriana(DTP)(1º ref),Dupla adulto e tríplice acelular gestante,dTpa gestante,Tetravalente (DTP/Hib) (TETRA),Ignorado,Total,Ano
0,RO,110.77,104.78,103.95,104.02,106.35,104.54,104.68,105.44,106.06,...,94.61,94.63,104.63,95.82,73.92,64.65,103.36,229.39,111.27,2015
1,AC,105.9,69.63,82.5,88.64,82.62,81.24,72.48,82.74,66.67,...,51.69,49.3,81.3,62.7,17.13,12.08,83.71,158.09,75.54,2015

In [6]:
bases = [df_2015, df_2016, df_2017, df_2018, df_2019]
result = pd.concat(bases)
result.columns

Index(['Estado', 'BCG', 'Hepatite B  em crianças até 30 dias',
       'Rotavírus Humano', 'Meningococo C', 'Hepatite B', 'Penta',
       'Pneumocócica', 'Poliomielite', 'Febre Amarela', 'Hepatite A',
       'Pneumocócica(1º ref)', 'Meningococo C (1º ref)',
       'Poliomielite(1º ref)', 'Tríplice Viral  D1', 'Tríplice Viral  D2',
       'Tetra Viral(SRC+VZ)', 'DTP', 'Tríplice Bacteriana(DTP)(1º ref)',
       'Dupla adulto e tríplice acelular gestante', 'dTpa gestante',
       'Tetravalente (DTP/Hib) (TETRA)', 'Ignorado', 'Total', 'Ano',
       'DTP REF (4 e 6 anos)', 'Poliomielite 4 anos'],
      dtype='object')

In [7]:
result.groupby(['Estado', 'Ano']).sum()

                BCG  Hepatite B  em crianças até 30 dias  Rotavírus Humano  \
Estado Ano
 Total 2015  105.08                                90.93             95.35
       2016   95.55                                81.75             88.98
       2017   97.98                                85.88             85.12
       2018   99.72                                88.40             91.33
       2019   86.67                                78.57             85.40
...             ...                                  ...               ...
TO     2015  107.48                                94.35             97.73
       2016   99.23                                77.44             91.00
       2017  104.75                                91.32             89.09
       2018  104.06                               100.67             93.40
       2019  112.41                               111.88             88.73

             Meningococo C  Hepatite B  Penta  Pneumocócica  Poliomielite  \
Estado Ano
 Total 2015          98.19       97.74  96.30         94.23         98.29
       2016          91.68      105.19  89.27         95.00         84.43
       2017          87.44       84.40  84.24         92.15         84.74
       2018          88.49       88.53  88.49         95.25         89.54
       2019          87.41       70.77  70.76         89.07         84.19
...                    ...         ...    ...           ...           ...
TO     2015          98.73      100.00  98.70         93.92         97.22
       2016          92.43      106.61  88.14         97.31         84.77
       2017          90.01       85.77  85.76         93.17         86.05
       2018          79.72       90.04  90.04        100.71         91.68
       2019          93.52       76.38  76.38         94.02         88.17

             Febre Amarela  Hepatite A  ...  Tetra Viral(SRC+VZ)    DTP  \
Estado Ano                              ...
 Total 2015          46.31       97.07  ...                77.37  96.90
       2016          44.59       71.58  ...                79.04  89.53
       2017          47.37       78.94  ...                35.44   0.00
       2018          59.50       82.69  ...                33.26   0.00
       2019          62.41       85.02  ...                34.24   0.00
...                    ...         ...  ...                  ...    ...
TO     2015          83.28       94.52  ...                52.17  98.76
       2016          77.26       75.63  ...                88.32  88.14
       2017          73.28       81.50  ...                60.91   0.00
       2018          81.08       84.08  ...                65.92   0.00
       2019          76.47       87.09  ...                81.35   0.00

             Tríplice Bacteriana(DTP)(1º ref)  \
Estado Ano
 Total 2015                             85.78
       2016                             64.28
       2017                             72.40
       2018                             73.27
       2019                             57.08
...                                       ...
TO     2015                             83.28
       2016                             69.89
       2017                             75.43
       2018                             74.54
       2019                             55.40

             Dupla adulto e tríplice acelular gestante  dTpa gestante  \
Estado Ano
 Total 2015                                      45.57          44.97
       2016                                      31.53          33.81
       2017                                      34.73          42.40
       2018                                      44.99          60.23
       2019                                      45.02          63.23
...                                                ...            ...
TO     2015                                      15.24          16.55
       2016                                      11.52          19.23
       2017                                      34.82          53.33
       2018                                      45.80          70.06
       2019                                      51.01          75.97

             Tetravalente (DTP/Hib) (TETRA)  Ignorado  Total  \
Estado Ano
 Total 2015                           95.49    196.58  95.07
       2016                            5.21     16.44  50.44
       2017                            0.00      0.00  72.93
       2018                            0.00      0.00  77.13
       2019                            0.00      0.00  73.44
...                                     ...       ...    ...
TO     2015                           96.74    231.40  92.37
       2016                            5.49     31.04  60.94
       2017                            0.00      0.00  77.95
       2018                            0.00      0.00  81.12
       2019                            0.00      0.00  82.12

             DTP REF (4 e 6 anos)  Poliomielite 4 anos
Estado Ano
 Total 2015                  0.00                 0.00
       2016                  2.73                 0.00
       2017                 66.08                62.26
       2018                 68.52                63.62
       2019                 53.74                68.45
...                           ...                  ...
TO     2015                  0.00                 0.00
       2016                  2.28                 0.00
       2017                 72.35                66.53
       2018                 65.28                62.70
       2019                 53.13                65.91

[140 rows x 25 columns]

In [8]:
result.to_csv('cv_uf.csv', encoding='utf8', sep=',', decimal='.', index=False)

In [9]:
# !jupyter nbconvert main.ipynb --to markdown --output README.md